body {
    background-color: grey;
}

.nasrc {
    display: flex;
}

.src {
    margin-top: 35px;
    margin-left: 700px;
    
}

.name {
    border: 8px solid black;
    display: flex;
    justify-content: center;
    width:340px;
    font-family: 'Cabin', sans-serif;
}

.series-list {
    border: 8px solid black;
    display: flex;
    justify-content: space-around;
    width: 1250px;
    font-family: 'Amethysta', serif;
}

.movie {
    border: 8px solid black;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 460px;
    flex-direction: column;
    font-size:25px;
    font-family: 'Philosopher', sans-serif;
}

.friends {
    flex-direction: column;
    list-style: none;
    border: 8px solid black;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 460px;
    font-size:25px;
    font-family: 'Philosopher', sans-serif;
}

.mf {
    display: flex;
}

.img {
    padding-top: 70px;
    height: 1px;
}

.film {
    padding: 10px;
}

.amigos {
    padding: 10px;
}

.description {
    border: 5px solid black;
    height: 90px;
    width: 1090px;
    font-family: 'Cardo', serif;
    
}

.img2 {
    padding-top: 17px;
    padding-left: 10px;
    width:160px;
    height:100px;
}

.desimg {
    display:flex;
}

.all {transform: scale(1);}

a:link {
  color: Red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}




